* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
:root {
  --bg: #0b2447;
  --font: #eeeeee;
  --bg2: #508c9b;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  z-index: -4;
}
.container {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  position: fixed;
  top: 0;
  width: 90%;
  height: fit-content;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  backdrop-filter: blur(5px);
}
.logo h1 {
  color: var(--font);
  letter-spacing: 2px;
}

.menu a {
  font-weight: 600;
  text-decoration: none;
  color: var(--font);
  margin-left: 20px;
  transition: 0.2s;
}
.menu a:hover {
  color: var(--bg2);
}
.menu i {
  color: var(--font);
  font-size: 20px;
  display: none;
  z-index: 1;
}
.menu-bar {
  color: var(--font);
  font-size: 25px;
  display: none;
}
.content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h2 {
  color: var(--font);
  font-size: 40px;
  transition: 0.4s;
  animation-name: title;
  animation-duration: 1s;
}

.title p {
  max-width: 700px;
  color: var(--font);
}
.image img {
  margin: 10px;
  width: 50px;
  height: 50px;
}

/* --------------- Second Page ------------- */
.education-container {
  width: 100%;
  height: 100vh;
  background-color: #508c9b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}
.education {
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}
.school {
  background-color: #eeeeee;
  padding: 20px;
  position: relative;
}

.school::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -20px;
  width: 5%;
  height: 100%;
  background-color: white;
}
/* ----------- Third Page ----------- */
.project-container {

  width: 100%;
  height: 100vh;  
  background-color: var(--bg);
  position: relative;
  z-index: -1;
  overflow: hidden;

}
.project-container h1{
  margin-top: 50px;
  text-align: center;
  color: white;

}

.project-img img{
  margin-top: 60px;
  width: 80px;
  transform: translateX(-1450px);
  animation: project 10s infinite ease-in-out;
}

/* ----------- Fourth Page ----------- */
.contact-container {
  width: 100%;
  height: 100vh;
  background-color:#508c9b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left {
  margin-top: 100px;
  width: 40%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.left h2 {
  color: var(--font);
  text-align: center;
  margin: 10px 0;
}
.left form {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font);
}
.left form .input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left form .input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 0;
}
.left form .input-box label {
  width: 30%;
  font-size: 15px;
  font-weight: 600;
}
.left form .input-box textarea {
  border: none;
  outline: none;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}
.left form .btn {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left form .btn button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}
.left form .btn .resume {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
}
.right {
  margin-top: 150px;
  text-align: center;
}
.right h2 {
  color: var(--font);
  font-size: 50px;
}
.right p {
  color: var(--font);
  font-size: 18px;
}

.right i {
  padding: 10px;
  margin: 10px 10px;
  font-size: 30px;
  color: var(--font);
}
/* ----------- Media Query ----------- */
@media screen and (max-width: 600px) {
  .title p {
    max-width: 300px;
  }
  .project-img img{
    margin-top: 100px;
    min-width: 300rem;
    min-height: 100%;
   }
}

@media screen and (max-width: 900px) {
  .menu-bar {
    display: block;
  }
  .menu i {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: black;
  }

  .menu {
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 100px;
    border-radius: 20px;
  }
  .menu a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    color: black;
    margin: 0px;
    padding: 20px;
    position: relative;
  }
  .title p {
    max-width: 600px;
  }
  .education {
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
  }
  .school {
    font-size: 13px;
    background-color: var(--font);
    padding: 0px;
    position: relative;
  }

  .school::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -10px;
    width: 5%;
    height: 100%;
    background-color: white;
  }
  .school-description {
    margin-left: 20px;
    width: 100%;
    font-size: 12px;
  }
  .percentage {
    font-size: 15px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -2;
  }
  .contact-container .left {
    position: absolute;
    top: 0;
    width: 90%;
  }
  .contact-container .left form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-container .left form .input-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-container .left form .input-box input {
    width: 100%;
    flex: 1;
    margin: 5px;
  }

  .left form .btn button {
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 600;
  }
  .contact-container .left form .input-box label {
    width: 100px;
  }
  .left form #textarea label {
    width: 150px;
    font-size: 15px;
    font-weight: 600;
  }
  .left form .btn .resume {
    padding: 10px 5px;
  }
  .contact-container .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contact-container .right h2 {
    font-size: 30px;
  }
  .contact-container .right p {
    font-weight: 500;
    margin: 0px;
  }
  .contact-container .right i {
    margin: 5px 10px;
    font-size: 25px;
    padding: 0px;
  }

  .project-img img{
    margin-top: 50px;
    min-width: 300rem;
    min-height: 100%;
   }
}

@media screen and (max-width: 1290px) {
  .content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .left {
    margin-top: 100px;
    min-width: 50%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .left form {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left form .input-box label {
    width: 180px;
  }
  .left form #textarea label {
    width: 180px;
  }
  .right h2 {
    font-size: 40px;
  }
  .right p {
    font-size: 15px;
  }

  .right i {
    padding: 10px;
    margin: 10px 5px;
    font-size: 30px;
  }

  .project-img img{
    margin-top: 100px;
    min-width: 200rem;
    min-height: 100%;
   }
}
@media screen and (max-width: 2590px) {
  .project-img img{
    margin-top: 50px;
    min-width: 300rem;
    min-height: 100%;
   }
}

@keyframes title {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 10px;
  }
}
@keyframes project {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: rotateX(3000px);
  }
}
